@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap');

.container {
  text-align: center;
}

.banner {
  background-image: url('images/fundo.png');
  background-size:cover;
  padding: 50px 0;
  height: auto;
  border-radius: 5px;
  line-height: 30px;
}

.card {
  width: 500px;
	margin: 10px auto;
  background-color: #F7ECDE;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  padding: 5px 0;
  border: 1px solid lightgrey;
}

.card:hover {
  transform: scale(1.02);
}

.img-circle {
  width: 120px;
  border-radius: 50%;
}

h1 {
  color: #826F65;
  font-size: 24px;
  font-weight: bold;
}

h2{
  color: #826F65;
  font-size: 20px;
  font-weight: lighter;
}

body {
  background-color:#FBF8F1;
  color: #AD8B73;
  font-family: Nanum Myeongjo, monospace;
  font-size: 16px;
  margin: 0;
}

.btn-bege {
  text-decoration: none;
  font-size: 15px;
  background-color: #F1DDBF;
  padding: 8px;
  margin: 30px;
  border-radius: 5px;
  color: #826F65;
}

.btn-bege:hover {
  background-color: #826F65;
  color: #F1DDBF;
}

.list-inline > li {
  display: inline-block;
  padding: 0 20px;
  list-style: none;
  padding-left: 0px;
  font-size: 30px;
}

.fab, .fa-brands {
  color:#826F65;
}

.fab:hover {
  color: #F1DDBF;
}

.fa-brands:hover {
  color: #F1DDBF;
}

#introduction {
  margin-bottom: 40px;
}

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 900px;
  }
  .card {
    width: 500px;
  }
}

@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 700px;
  }
  .card {
    width: 300px;
  }
}

@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 500px;
  }
  .card {
    width: 200px;
  }
}
